body {
  padding: 20px 350px;
}

h1 {
  font-size: 30px;
  color: black;
  font-weight: 700;
  font-family: sans-serif;
}

.date-time {
  padding: 15px;
  margin: 10px 0;
  display: block;
  background: orange;
  border: 2px solid black;
}

.date, .time {
  padding: 9px 7px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 28px;
}
