// Use the gear_dropdown.png screenshot as a style guide

#gear-dropdown {
  position: absolute;
  right: 100px;
  top: 40px;
  padding: 5px 0px;
  border: 1px solid black;
  width: 150px;
  word-wrap: break-word;
  z-index: 5;
  background-color: white;
  
  li, span {
    padding: 5px;
  }
  span {
    font-size: 10px;
  }
  .help {
    text-transform: capitalize;
  }
}

#gear-dropdown li ul li:hover {
  background-color: $light-gray;
}

.dropdown-subtitle {
  border-top: 1px solid $light-gray
}