.test {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
}

.test li {
  margin: 5px;
}

.test li:last-child {
  text-transform: uppercase;
}

.test li:hover {
  background: $light-gray;
}

