<section class="masthead">
  <div class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">html</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">ruby</a></li>
    

    </ul>
  </div>

  
  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="AA_Times_logo">
  </div>
  
  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li><a href="#">Today’s Paper</a></li>
    <li><a href="#">Video</a></li>
    <li><button type="button" name="degrees">77°F</button></li>
    <li><button type="button" name="stock">AAO +100%</button></li>
    

  </ul>
  
  
</section>
